		*{
			margin:0;
			padding:0;
		}
		html,body{
			height:100%;
			overflow:hidden;
		}
		.swiper-container1{
			height:100%;
		}
		.music{
				position:fixed;
				right:5%;
				top: 2%;
				width:14%;
				z-index:99;
				overflow:hidden;
			}
			.music img{
				width:100%;
			}
			.music img:nth-of-type(1){
				display:none;
			}
			.music img:nth-of-type(2){
				display:block;
			}
			.musicPlay{
				animation:musicRotate 1s linear infinite;
			}

			@-webkit-keyframes musicRotate{
				0%{transform:rotate(0deg);}
				100%{transform:rotate(360deg);}
			}
			.arrow{
				position:fixed;			
				left:44%;
				bottom:2%;
				width:12%;
				z-index:99;
			}
			.arrow img{
				width:100%;
			}
			
			.hideOpacity{
				animation:opacityHide 2s ease forwards;
			}
			@-webkit-keyframes opacityHide{
				0%{opacity:1;}
				100%{opacity:0;}
			}
			
			
			.arrowUp{
				animation:arrowUp 1s infinite;
			}
			@-webkit-keyframes arrowUp{
				0%{opacity:0;transform:translateY(0px);}
				100%{opacity:1; transform:translateY(-8px);}
			}
			@-webkit-keyframes scaleCircle{
				0%{transform:scale(1);}
				100%{transform:scale(0.9);}
			}


			.page1{
				position:relative;
				background:#3e88f1 url('../img/indexBuilding.png') no-repeat bottom center;
				background-size:contain;
			}
			.page1Top{
				height:25%;
				margin-top:20%;
				width:100%;

			}
			.page1Top .flowerLeft{
				position:relative;
				float:left;
				width:20%;
				height:100%;
				
			}
			.page1Top .flowerLeft img{
				position:absolute;
				right:-28px;
				height:50%;
				z-index:9;
			}
			.page1Top .text{
				position:relative;
				float:left;
				width:60%;
				height:100%;
			}
			.page1Top .text img{
				width:100%;
			}
			.page1Top .flowerRight{
				position:relative;
				float:left;
				width:20%;
				height:100%;
				
			}
			.page1Top .flowerRight img{
				position:absolute;
				height:40%;
				left:-65px;
				bottom:20px;
			}
			.page1Center{
				width:100%;
			}
			/* img是块的时候就可以margin */
			.page1Center img{
				display:block;
				width:80%;
				margin:0 auto;
			}
			.stars{
				position:absolute;
				width:100%;
				left: 0;
				bottom:0;
			}
			.cloud{
				position:absolute;
				right: 0;
				bottom:45%;
				width:20%;

			}
			.elements{
				position:absolute;
				width:100%;
				left: 0;
				bottom:0;
			}
			.cloud img,.elements img,.stars img{
				width:100%;
			}

			.page2{
				position:relative;
				background:url('../img/wasBg.jpg') no-repeat center center;
				background-size:cover;
			}
			.page2 .secondText{
				margin-top:60%;
				height:30%;
				width:100%;
				
			}
			.page2 .secondText .secondText1{
				height:40%;
			}
			.page2 .secondText .secondText1 img{
				height:70%;
				display:block;
				margin:0 auto;
			}
			.page2 .secondText .secondText2{
				margin-top:40px;
				height:40%;
			}
			.page2 .secondText .secondText2 img{
				height:70%;
				display:block;
				margin:0 auto;
			}
			.page2 .meteor{
				position:absolute;
				left: 0;
				top: 0;
				width:100%;
			}
			.page2 .meteor img{
				width:100%;
			}

			.meteorShow{
				animation:fadeInTopRight 1s 2s linear forwards;
			}
			@-webkit-keyframes fadeInTopRight{
				0%{transform:translateX(0px,0px); }
				100%{
					transform:translate(-36px,90px);
				}
			}



			.page3{
				position:relative;
				background:#0A1124 url(../img/earlyBg.jpg)  no-repeat left top; 
				background-size:contain;

			}
			.page3 .earlyTitle{
				position:absolute;
				left: 0;
				top: 20px;
				width:15%;
			}
			.page3 .earlyTitle img{
				width:100%;
			}
			
			.building img{
				position:absolute;
				bottom:0;
				width:100%;
			}

			.page3 .page3Bj{

				position:absolute;
				left: 0;
				bottom:0;
				width:100%;
			}
			.page3 .page3Bj img{
				width:100%;
			}
			.page3 .page3P1{
				position:absolute;
				right:0;
				bottom:10%;
				width:20%;
			}
			.page3 .page3P1 img{
				width:100%;
			}

			.page3 .bus{
				position:absolute;
				left: 0px;
				bottom:5%;
				width:50%;
			}
			.page3 .bus img{
				width:100%;
			}
			.page3 .page3Title2 {
				position:absolute;
				left: 0;
				top: 20px;
				width:15%;
			}
			.page3 .page3Title2 img{
				width:100%;
			}
			.busRunPlay{
				animation:busRun 2s 2s linear forwards;
			}
			@-webkit-keyframes busRun{
				0%{transform:translateX(0px);}
				100%{transform:translateX(-220px);}
			}
			.page3P1Run{
				animation:run 2s 3s linear forwards;
			}
			@-webkit-keyframes run{
				0%{transform:translateX(0px);}
				100%{transform:translateX(-40px);}
			}

			.team{
				position:absolute;
				left: 0;
				top: 0;
				width:100%;
				height:100%;
			}
			.team img{
				width:100%;
				height:100%;
			}
			.teamWall{
				position:absolute;
				right: 0;
				bottom: 0;
				width:20%;
				height:60%;
			}
			.teamWall img{
				height:100%;
			}
			.teamP{
				position:absolute;
				right: 0;
				top: 25%;
				width:30%;
			}
			.teamP img{
				width:100%;
			}

			.TeamFont{
				position:absolute;
				left: 40px;
				top: 250px;
				width:25%;
			}
			.teamTxt{
				width:40%;
			}
			.teamTxt img{
				width:100%;
			}
		
			.teamTxt1{
				width:80%;
			}
			.teamTxt1 img{
				width:100%;
			}
			.teamTxt2{
				width:80%;
			}
			.teamTxt2 img{
				width:100%;
			}

			.teamTxt3{
				width:80%;
			}
			.teamTxt3 img{
				width:100%;
			}
			
			.teamWhere{
				position:absolute;
				left: 50%;

				bottom:70px;
				margin-left:-60px;
				width:35%;
				
			}
			.teamWhere img{
				display:block;
				width:100%;
			}

			.page4{
				height:100%;
				position:relative;
				background:#107BE0 url("../img/lightOffBg.jpg") no-repeat;
				background-size:cover;
			}
			.page4 .deng{
				position:absolute;
				left:0;
				bottom: 0;
				width:25%;
				height:70%;
				z-index: 1;
			}
			.page4 .deng img{
				position:absolute;
				width:100%;
				height:100%;
			}
			.page4 .deng img:nth-of-type(2){
				display:none;
			}
			.page4 .page4Txt{
				position:absolute;
				right:0;
				top:50px;
				width:50%;
				height:10%;
			}
			.page4 .page4Txt img{
				width:100%;
			}
			.page4 .click{
				position:absolute;
				left:88px;
				top: 254px;
				width:45%;
				height:20%;

			}
			.page4 .click img{
				width:100%;
			}
			.infScale{
				animation:infiniteScale 1s linear infinite  ;
			}
			@-webkit-keyframes infiniteScale{
				0%{transform:scale(1);}
				50%{transform:scale(1.1);}
				100%{tranform:scale(1);}
			}

			.page4 .knowYou{
				position:absolute;
				left:24%;
				top: 30%;
				width:50%;
				height:30%;
				display:none;
			}
			.page4 .knowYou img{
				width:100%;
			}
			.page4 .lightOnBg{
				width:100%;
				height:100%;
			}
			.page4 .lightOnBg img{
				width:100%;
				height:100%;
				
			}
			.lightOnBg{
				display:none;
			}

			.page5{
				position:relative;
				background:url("../img/aboutBg.jpg") no-repeat;
				background-size:100% 100%;
			}
			.page5 .footCity{
				width:100%;
				height:20%;
			}
			.page5 .footCity img{
				width:100%;
			}
			.page5 .page5P1{
				position:absolute;
				right:0%;
				top:15%;
				width:55%;
				height:20%;
			}
			.page5 .page5P1 img{
				width:100%;
			}
			.page5 .page5Txt{
				position:absolute;
				left:18%;
				top: 50%;
				width:70%;

			}
			.page5 .page5Txt img{
				position:absolute;
				width:100%;
			}

			.page6{
				position:relative;
				background:url("../img/runBg.jpg") no-repeat;
				background-size:100% 100%;
			}
			.page6 .page6P1{
				position:absolute;
				left:10%;
				top: 20%;
				width:25%;
			}
			.page6 .page6P1 img{
				width:100%;
			}
			.page6 .page6Txt{
				position:relative;
				top:65%;
				left:20%;
				width:70%;
				height:20%;
			}
			.page6 .page6Txt img{
				position:absolute;
				left:0;
				top:0;
				width:100%;
			}

			.page7{
				position:relative;
				background:#3ECB9B;
			}
			.page7 .page7P1{
				position:absolute;
				left:40%;
				top: 26%;
				width:30%;
			}
			.page7 .page7P1 img{
				width:100%;
			}
			.page7 .salaryBg{
				position:absolute;
				left:20%;
				top:10%;
				width:80%;
			}
			.page7 .salaryBg img{
				width:100%;
			}

			.page7 .page7Txt{
				position:relative;
				top:65%;
				left:20%;
				width:70%;
				height:20%;
			}
			.page7 .page7Txt img{
				position:absolute;
				left:0;
				top:0;
				width:100%;
			}

			.page8{
				background:url("../img/Bg.png") no-repeat;
				background-size: 100% 100%;
			}
			.page8 .introStar{
				position:absolute;
				left:58%;
				top: 73%;
				width:10%;
			}
			.page8 .introStar img{
				width:100%;
			}

			.infScale2{
				animation:infiniteScale 1s linear infinite  ;
			}
			@-webkit-keyframes infiniteScale{
				0%{transform:scale(1);}
				50%{transform:scale(1.3);}
				100%{tranform:scale(1);}
			}

			.page9{
				position:relative;
				background:#3686F6;
			}
			.page9 .introCloudy2{
				width:100%;
				
			}
			.page9 .introCloudy2 img{
				width:100%;
			}
			.page9 .endBg{
				position:absolute;
				left:0;
				top: 0;
				width:100%;
				height:10%;
			}
			.page9 .endBg img{
				width:100%;
			}
			.page9 .endLogo{
				position:absolute;
				left:40px;
				top: 70px;
				width:70%;
				height:10%;
			}
			.page9 .endLogo img{
				width:100%;
			}
			.page9 .endTxt{
				position:absolute;
				left:15%;
				top: 25%;
				width:70%;
				height:10%;
			}
			.page9 .endTxt img{
				width:100%;
			}
			.page9 .endMail{
				position:absolute;
				left:14%;
				top: 40%;
				width:75%;
			}
			.page9 .endMail img{
				width:100%;

			}
			.page9 .endClick{
				position:absolute;
				left:35%;
				top: 47%;
				width:30%;
			}
			.page9 .endClick img{
				width:100%;
			}
			.page9 .page9P1{
				position:absolute;
				left:15%;
				top: 55%;
				width:65%;
			}
			.page9 .page9P1 img{
				width:100%;
			}
			.page9 .endBottomTxt{
				position:absolute;
				left:30%;
				bottom:10%;
				width:40%;
			}
			.page9 .endBottomTxt img{
				width:100%}











			


			

			